.wrapper--techno {
    box-shadow: none;
}
.header-event [class*=header-event]:nth-child(4),
.header-event [class*=header-event]:nth-child(5){
    display:none!important;
}
.footer {
    background: transparent!important;
}

.menu-wedding li:after {
	display: none!important
}

.menu-wedding.custom-menu__bg-sec li .custom-menu__link {
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 5px;
	transition: all .25s linear;
}

.event-theme__wrapper>.container>.row>.col-lg-10.col-lg-offset-1 {
	width:100%;
  	margin-left: 0;
}

.sidebar--themes {
	border-top-color: #ccc;
	border-bottom-color: #ccc;
}

.countdown-theme--techno {
	width:100%;
	max-width:none;
}

#event-header-simple .text::before {
	content:"Bem-vinda, Céu";
	color:#b78086;
}


.newsfeed__content {
	margin-left: 0!important;
	align-items:flex-start;
}

.newsfeed__content>a {
	display: block;
	padding: 5px;
	border-radius:5px;
	border: 2px solid #ccc;
	margin: 5px;
	background: #fff;
	float:left;
}
.newsfeed__content>a:hover {
	border-color: #b78086
}

.newsfeed__content>a img {
	display: block;
	margin:0;
}

.gift-card {
	border-width: 2px;
	border-radius: 4px;
}

.gift-card__photo-title {
	position:relative;
	width:100%;
	background:none;
	color:#000;
	padding: 10px;
	float:left;
	white-space: nowrap;
}

.gift-card__info {
	height: auto;
}

.custom-primary__button {
	font-family: "Montserrat", sans-serif;
	text-transform: uppercase;
	font-weight:bold;
	display: block;
	font-size:1.75rem
}

.custom-primary__button small {
	float:left;
	width: 100%;
}


.form .event-activity {
	padding-right:0;
	padding-left:0
}


.header-event__logo + div,
.header-event__logo {
	display: none !important;
}

.giftlist-cart__count {
	z-index: 9999;
	right:0;
}

label[for=physical_card] {
    font-size: 1.5rem;
    font-weight:bold;
    padding-left: 40px !important;
}

label[for=physical_card]::before {
	content: "Atenção: marcando aqui, ";
}

label[for=physical_card]::after {
	content: "Atenção: O valor de R$12,99 não é enviado para os donos da lista.";
	display: block;
}
#physical_card+span::after,
#physical_card+span::before {
	width: 30px;
	height: 30px;
	font-size: 20px;
	padding-top: 5px;
}


#wbp-list-sections .save-the-date p>a {
	background-color: #b78086;
    border-color: #92666b;
    color: #fff;
    display:inline-block;
    width:auto;
    padding: 10px 15px;
    border-radius: 2px;
    border: 1px solid #92666b;
    text-transform:uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight:bold;
}
